.DS_Store
*.pyc
**/build/**
**/.ipynb_checkpoints/**
*.p
*.zip

Term1/Lab_AlexNet/bvlc-alexnet.npy

Term1/Lab_TensorFlow/*.pickle

Term1/Lab_Transfer_Learning/inception-100/
Term1/Lab_Transfer_Learning/resnet-100/
Term1/Lab_Transfer_Learning/vgg-100/

Term1/P2_Traffic_Signs/data
Term1/P2_Traffic_Signs/checkpoint
Term1/P2_Traffic_Signs/*.h5
Term1/P2_Traffic_Signs/models
Term1/P2_Traffic_Signs/*.swp
Term1/P2_Traffic_Signs/*.ckpt
Term1/P2_Traffic_Signs/*.meta
Term1/P2_Traffic_Signs/img_transform_NB.ipynb
Term1/P2_Traffic_Signs/*.html

Term1/P3_Bahavioral_Cloning/UdacitySimulator.app/
Term1/P3_Bahavioral_Cloning/IMG/
Term1/P3_Bahavioral_Cloning/driving_log.csv
Term1/P3_Bahavioral_Cloning/Udacity_data/

Term2/P4_PID_Controller/simulator.app/